Flow-Export Flows to Github-3433da53-d660-49ac-8ddd-c1d8b5b34648.json
{"name":"3433da53-d660-49ac-8ddd-c1d8b5b34648","id":"/providers/Microsoft.Flow/environments/Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79/flows/3433da53-d660-49ac-8ddd-c1d8b5b34648","type":"Microsoft.Flow/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Export Flows to Github","userType":"Owner","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","required":[],"properties":{}}}}},"actions":{"List_Flows_as_Admin":{"runAfter":{"Initialize_VSUsername":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFlowsInEnvironment"}},"type":"ApiConnection","inputs":{"host":{"api":{"runtimeUrl":"https://europe-001.azure-apim.net/apim/flowmanagement"},"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_flowmanagement']['connectionId']"}},"method":"get","path":"/scopes/admin/environments/@{encodeURIComponent('Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79')}/flows","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Get_Flow":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFlow"}},"type":"ApiConnection","inputs":{"host":{"api":{"runtimeUrl":"https://europe-001.azure-apim.net/apim/flowmanagement"},"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_flowmanagement']['connectionId']"}},"method":"get","path":"/environments/@{encodeURIComponent('Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79')}/flows/@{encodeURIComponent(items('Apply_to_each')?['name'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_File":{"runAfter":{"Get_Base64_content":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://api.github.com/repos/kevmcdonk/Mcd79FlowUploadTest/contents/@{outputs('Flow_file_name')}","authentication":{"type":"Basic","username":"@variables('GithubUsername')","password":"@variables('GithubPersonalToken')"}}},"Flow_file_name":{"runAfter":{"Get_Flow":["Succeeded"]},"type":"Compose","inputs":"Flow-@{body('Get_Flow')['properties']['displayName']}-@{body('Get_Flow')?['name']}.json"},"Parse_JSON":{"runAfter":{"Add_new_file":["Skipped"]},"type":"ParseJson","inputs":{"content":"@body('Get_File')","schema":{"type":"object","properties":{"name":{"type":"string"},"path":{"type":"string"},"sha":{"type":"string"},"size":{"type":"number"},"url":{"type":"string"},"html_url":{"type":"string"},"git_url":{"type":"string"},"download_url":{"type":"string"},"type":{"type":"string"},"content":{"type":"string"},"encoding":{"type":"string"},"_links":{"type":"object","properties":{"self":{"type":"string"},"git":{"type":"string"},"html":{"type":"string"}}}}}}},"Add_new_file":{"runAfter":{"Get_File":["Failed"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/kevmcdonk/Mcd79FlowUploadTest/contents/@{outputs('Flow_file_name')}","body":{"message":"my commit message","content":"@{outputs('Get_Base64_content')}"},"authentication":{"type":"Basic","username":"@variables('GithubUsername')","password":"@variables('GithubPersonalToken')"}}},"Get_Base64_content":{"runAfter":{"Flow_file_name":["Succeeded"]},"type":"Compose","inputs":"@base64(body('Get_Flow'))"},"Update_file":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/kevmcdonk/Mcd79FlowUploadTest/contents/@{outputs('Flow_file_name')}","headers":{"Content-type":"application/json"},"body":{"message":"my commit message","content":"@{outputs('Get_Base64_content')}","sha":"@{body('Parse_JSON')?['sha']}"},"authentication":{"type":"Basic","username":"@variables('GithubUsername')","password":"@variables('GithubPersonalToken')"}}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Filter_array":{"runAfter":{"List_Flows_as_Admin":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_Flows_as_Admin')?['value']","where":"@greater(item()?['properties']?['lastModifiedTime'],startOfDay(utcNow()))"}},"Initialize_VSUsername":{"runAfter":{"Initialise_FileCreateType":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"GithubUsername","type":"String","value":"RandomNameThatsNotUsed"}]}},"Initialize_VSPersonalToken":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"GithubPersonalToken","type":"String","value":"73589770f30d8b34a5004c3b5915d6909c6be07d"}]}},"Initialise_FileCreateType":{"runAfter":{"Initialize_VSPersonalToken":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SHATokenText","type":"String","value":"\"\":\"\","}]}}},"outputs":{}},"triggerSchema":{"type":"object","required":[],"properties":{}},"state":"Started","connectionReferences":[{"connectionName":"shared-flowmanagemen-59bcfe10-6806-4afb-a3f7-7078b2ca67be","displayName":"Flow management","id":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"}],"createdTime":"2017-12-28T21:58:12.4196169Z","lastModifiedTime":"2017-12-28T22:48:37.3535322Z","environment":{"name":"Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79","type":"Microsoft.Flow/environments","id":"/providers/Microsoft.Flow/environments/Default-fe5afee1-d6bb-46af-8edd-82dc648d9e79"},"definitionSummary":{"triggers":[{"type":"Request","kind":"Button"}],"actions":[{"type":"ApiConnection","swaggerOperationId":"ListFlowsInEnvironment","metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFlowsInEnvironment"}},"api":{"name":"shared_flowmanagement","id":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement","type":"/providers/Microsoft.PowerApps/apis"}},{"type":"Foreach"},{"type":"Query"},{"type":"InitializeVariable"},{"type":"InitializeVariable"},{"type":"InitializeVariable"},{"type":"ApiConnection","swaggerOperationId":"GetFlow","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFlow"}},"api":{"name":"shared_flowmanagement","id":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement","type":"/providers/Microsoft.PowerApps/apis"}},{"type":"Http"},{"type":"Compose"},{"type":"ParseJson"},{"type":"Http"},{"type":"Compose"},{"type":"Http"}]},"creator":{"tenantId":"fe5afee1-d6bb-46af-8edd-82dc648d9e79","objectId":"8a871eea-98e2-4c4a-9579-c77c7affc901"},"flowTriggerUri":"https://europe-001.azure-apim.net:443/apim/logicflows/3433DA53D66049AC8DDDC1D8B5B34648-29798D23950AD39C/triggers/manual/run?api-version=2016-06-01","installationStatus":"Installed","provisioningMethod":"FromDefinition"}}